@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    

}

body{
   font-family: 'Roboto', sans-serif;
}
.logoo {

   border-radius:60%;
   height: 115px;
   width: 115px;

}

.hero{
    height: 100vh;
    background-color: whitesmoke;
    width: 100%;
    position: relative;


}

  .icon{
   width: 20px;
   height: 20px;
   margin-right: -20px;
   margin-bottom: 12px;

  }

nav{
    display: flex;
    width: 99.99%;
    margin: auto;
    justify-content: space-between;
    padding: 20px 5px;
    align-items: center;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    height: 20%;

}

.logoo nav ul li a{
  width: 40%;
  margin-top: 1rem;
}



nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
    

}

nav ul li a{

    text-decoration: none;
    color: black;
    font-weight: bold;
}

nav ul li a:hover{

    color: orange;
    transition: 0.5s;
}

/*   responsive nav bar */  
  @media (max-width: 858px) {

    .nav{
      display: block;
    }
    
  }
/*  responsive end with nav bar*/

 .btn{
    background-color: orange;
   border: none;
    padding: 4px;
    height: 35px;
    border-radius: 6px;
    color: white;
    margin-left: 20px;
 }

 .btn:hover{
    background-color: rgba(255, 166, 0, 0.589);
    transition: background-color 1s,
    color 0.8s;
    color: rgb(133, 112, 73);

 }

 .ak{
    margin-left: 8%;
    margin-top: 10%;
    /* font-family: sans-serif; */
 }

span{
    color: orange;
  }

 .ak h1{
    font-size: 40px;
    font-weight: bolder;
    /* font-family: monospace; */

 }

 p{
    margin-top: 4px;
    font-weight: medium;
    color: grey;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    
 }

 .ak a{
    background-color: orange;
    padding: 6px;
    margin: 25px 0;
    margin-bottom: 20px;
    display: inline-block;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    font-weight: bold;
 }

 .sawir{
    right: 100px;
    height: 80%;
    width:45%;
    bottom:0;
    position: absolute;
   padding: 2rem;
    
   
    
 }

 .sawir img{
    border-radius: 5px;
 }

 .sawir img:hover{
    transform: translatex(30%) ;
    transition:1s;
    
    
 }

  .orange{
    color: rgb(160, 105, 4);
  }

   br{
    margin-top: 5px;
   }

   .akk:hover{

      background-color: white;
      color: rgb(255, 0, 43);;
      transition: background-color 1s,
      color 1s;

      transform: translatex(33%);
      transition: 2s;

   }
   
   /* abou us landing */

   .about{
      width: 100%;
      padding: 78px 0px;
      background-color: rgba(245, 245, 245, 0.603) ;
   }

   .about img{
      height: auto;
      width: 420px;
      margin-left: 30px;
      border-radius: 10px;
   }
   .about img:hover{
      transform: translatex(+20%);
      transition: 1s;
   }

   .about-text{
      width: 550px;

   }

   .main{
      width: 1130px;
      max-width: 95%;
      margin: 0;
      display: flex;
      align-items: center;
      justify-content: space-around;
   }

   .about-text h1{
      text-transform: capitalize;
      font-size: 40px;
      color: orange;
      margin-left: 70px;

   }

   .about-text h1 span{
      color:rgba(204, 133, 0, 0.699);
   }

   .about-text h5{
      text-transform: capitalize;
      font-size: 20px;
      color: rgba(230, 154, 13, 0.623);
      margin-top: 5px;
      margin-left: 70px;
      
   }

.qormo {
      margin-left: 70px;
      font-size: medium;
      color:black;
      letter-spacing: 0.5px;
      font-family: 'Roboto', sans-serif;
}

.akkk{
   border: none;
   padding: 8px;
   width: 12%;
   margin-top: 20px;
   background-color: orange;
   color: white;
   border-radius: 4px;
}

.akkk:hover{

   background-color: whitesmoke;
   color: rgb(255, 0, 43);
   transition: background-color 1s,
   color 1s;

   transform: translatex(-33%);
   transition: 2s;

}

.card{
   width: 40%;
   box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}

.card .image{
    width: 100%;
    height:40vh;

}


.card .image img{
   width: 100%;
   height: 100%;
   object-fit: cover;
   border-radius: 13px;
   
}

.card:hover{
  transform: translatey(-30%);
   transition: 1s,
   color 0.7s;
   animation: backwards;
   
  
}

.h-three{
   text-align: center;
   padding: 2rem;
   margin: 20px;
   box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
   border-radius: 20px;
   background-color: rgb(250, 239, 218);
}

.h-three:hover{
   transition: 1s;
   transform: translatey(-10%);
}

.cards{
   display: flex;
   justify-content: space-between;
   gap: 3rem;
padding: 10rem;
background-color: whitesmoke;
}

.okos{
   margin-top: 5px;
   color: orange;
   padding: 2rem;
}

.qoraal{
   
   margin-top: 10px;
   text-align: center;
   color: pink;
}

.one{
   margin: 80px;
}

.ahum1{
   
   /* height: 40%; */
   width: 100%;
   margin: auto;
   display: flex;
   justify-content: space-between;
   
   padding: 20px 5px;
   padding: 2rem;
   align-items: center;
   box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
   height: 100%;
   border-radius: 4rem;
   gap: 2rem;
   margin-top: 20px;
   color: orange;
   

}


.ahum1:hover{
   transform: translatey(-5%);
   transition: 1s,
   color 1s;
   background-color: antiquewhite;
   color: black;

   /* background-color: orange;
   color: white; */
}


.sign{
  
   /* background-color: whitesmoke; */
   box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
   margin-top: 50px;
   height: 60vh;
 
}

.imagee{
   display: flex;
   /* justify-content: center; */
   border-radius: 1rem;
   
}

.imagee img{
  border-radius: 2rem;
  margin-top: 10px;
  margin-left: 10px ;
  margin-right: 10px;
  padding: 1rem;
  
}

img{
   border-radius: 1rem;
   margin-bottom: 10px;
}
.imagee img p{
   box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

p{
   margin-top: 20px;
  
}
 .spec  {
   text-align: justify;
 }
 .spec:hover{
   background-color: rgb(245, 210, 157);
   border-radius: 1rem;
   color: rgb(14, 1, 1);
   transform: translate(20px);
   transition: background-color 2s,
   color 0.7s;
   transition: 1s;
   padding: 1rem;
 }

.teext{
   width: 40%;
   margin-left: 40px;
   margin-top: 40px;
   height: 20px;
}

/* form up style */

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   list-style: none;
   font-family: 'Montserrat', sans-serif;
 }
 
 body{
   background: linear-gradient(
      /* 105deg,
      #88beee ,
      #0a2e73 */
     
  );
 }
 
 .wrapper{
   justify-content: center;
   align-items: center;
   min-height: 100vh;
   display: flex;
 }
 
 .registration_form{
   border-radius: 5px;
   width: 400px;
   background: white;
   padding: 25px;
   background-color:rgb(250, 239, 218); ;
   box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
 }
 
 .registration_form .title{
   color: white;
   background:rgb(13, 98, 215);
   letter-spacing: 2px;
   font-weight: 700;
   text-align: center;
   font-size: 25px;
   text-transform: uppercase;
   margin-top: -25px;
   margin-left:-25px;
   margin-right:-25px;
 }
 
 .form_wrap{
   margin-top: 35px;
 }
 
 .form_wrap .input_wrap{
   margin-bottom: 15px;
 
   
 }
 
 .form_wrap .input_wrap:last-child{
   margin-bottom: 0;
 }
 
 .form_wrap .input_wrap label{
   margin-bottom: 3px;
   color: #1a1a1f;
   display: block;
 }
 
 .form_wrap .input_grp{
   display: flex;
   justify-content: space-between;
 }
 
 .form_wrap .input_grp  input[type="text"]{
   width: 165px;
 }
 
 .form_wrap  input[type="text"]{
   width: 100%;
   padding: 10px;
   outline: none;
   border-radius: 3px;
   border: 1.3px solid #9597a6;
 }
 
 .form_wrap  input[type="text"]:focus{
   border-color: #063abd;
 }
 
 .form_wrap ul{
   padding: 8px 10px;
   border-radius: 20px;
   display: flex;
   justify-content: center;
   border:1px solid rgb(115, 185, 235);
   width:70%;
   background: rgb(206, 238, 242);
   margin-left: 15%;
 }
 
 .form_wrap ul li:first-child{
   margin-right: 15px;
 }
 
 .form_wrap ul .radio_wrap{
   position: relative;
   margin-bottom: 0;
 }
 
 .form_wrap ul .radio_wrap .input_radio{
   position: absolute;
   top: 0;
   right: 0;
   opacity: 0;
 }
 
 .form_wrap ul .radio_wrap span{
   display: inline-block;
   font-size: 17px;
   padding: 3px 15px;
   border-radius: 15px;
   color: #101749;
 }
 
 .form_wrap .input_radio:checked ~ span{
   background: #105ce2;
   color:white;
 }
 
 /* Submit Button */
 .form_wrap .submit_btn{
   font-size:17px;
   border-radius: 3px;
   text-transform: uppercase;
   letter-spacing: 2px;
   cursor: pointer;
   width: 100%;
   background: #0d6ad7;
   padding: 10px;
   border: 0;
   color:white;
 }
 
 /* Button Hover effect */
 .form_wrap .submit_btn:hover{
   background: #051c94;
 }

 /*  footer design app*/

 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
  text-decoration: none;
}
footer{
  width: 100%;
  position:-ms-page;
  bottom: 0;
  left: 0;
  background: #111;
}
footer .article{
  max-width: 1350px;
  margin: auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
footer .article p,a{
  color: #fff;
}
footer .article .box{
  width: 33%;
  transition: all 0.4s ease;
}
footer .article .topic{
  font-size: 22px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 16px;

}
footer .article p{
  text-align: justify;
}
footer .article .lower .topic{
  margin: 24px 0 5px 0;
}
footer .article .lower i{
  padding-right: 16px;
}
footer .article .middle{
  padding-left: 80px;
}
footer .article .middle a{
  line-height: 32px;
}
footer .article .right input[type="text"]{
  height: 45px;
  width: 100%;
  outline: none;
  color: #d9d9d9;
  background: #000;
  border-radius: 5px;
  padding-left: 10px;
  font-size: 17px;
  border: 2px solid #222222;
}
footer .article .right input[type="submit"]{
  height: 42px;
  width: 100%;
  font-size: 18px;
  color: #d9d9d9;
  background: #eb2f06;
  outline: none;
  border-radius: 5px;
  letter-spacing: 1px;
  cursor: pointer;
  margin-top: 12px;
  border: 2px solid #eb2f06;
  transition: all 0.3s ease-in-out;
}
.article .right input[type="submit"]:hover{
  background: none;
  color:  #eb2f06;
}
footer .article .media-icons a{
  font-size: 16px;
  height: 45px;
  width: 45px;
  display: inline-block;
  text-align: center;
  line-height: 43px;
  border-radius: 5px;
  border: 2px solid #222222;
  margin: 30px 5px 0 0;
  transition: all 0.3s ease;
}
.article .media-icons a:hover{
  border-color: #eb2f06;
}
footer .bottom{
  width: 100%;
  text-align: right;
  color: #d9d9d9;
  padding: 0 40px 5px 0;
}
footer .bottom a{
  color: #eb2f06;
}
footer a{
  transition: all 0.3s ease;
}
footer a:hover{
  color: #eb2f06;
}
@media (max-width:1100px) {
  footer .article .middle{
    padding-left: 50px;
  }
}
@media (max-width:950px){
  footer .article .box{
    width: 50%;
  }
  .article .right{
    margin-top: 40px;
  }
}
@media (max-width:560px){
  footer{
    position: relative;
  }
  footer .article .box{
    width: 100%;
    margin-top: 30px;
  }
  footer .article .middle{
    padding-left: 0;
  }
}